/* Coolors Exported Palette - coolors.co/f6f7eb-e94f37-393e41-3f88c5-44bba4 */

$color1: #f6f7eb; //rgba(246, 247, 235, 100)
$color2: #e94f37; //rgba(233, 79, 55, 100)
$color3: #393e41; //rgba(57, 62, 65, 100)
$color4: #3f88c5; //rgba(63, 136, 197, 100)
$color5: #44bba4; //rgba(68, 187, 164, 100)