@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);



#playstation
{                                     
background: #f7f7f7;
width: 400px;
overflow:auto;
margin:5px auto;
}
#controlpanel
{
padding:25px 25px 15px;
overflow:auto;
position:relative;
}
#songpro
{
width: 180px;
height: 180px;
border: 1px solid #eaeaea;
position: relative;
margin: 0 0px 0px 23x;
background: url("../images/appd.png") no-repeat 0 0;
background-size: 220px 220px;
padding: 20px;
}

#backward, #forward
{
content: "fa-backward";
width: 60px;
height: 60px;
margin-top: 67px;
background: #f7f7f7;
cursor:pointer;
-webkit-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
-moz-transition:0.2s;
transition:0.2s;
}
#backward{float:left;}
#forward{float:right;}

#backward:hover, #forward:hover
{
box-shadow: 0px 0px 0px #cacaca,inset 0px 2px 0px #fdfdfd;
-webkit-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
-moz-transition:0.2s;
transition:0.2s;
}
#backward:hover .fa
{
text-shadow:0px 2px 0px #cacaca;
-webkit-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
-moz-transition:0.2s;
transition:0.2s;
}

#forward:hover .fa
{
text-shadow:0px 2px 0px #cacaca;
-webkit-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
-moz-transition:0.2s;
transition:0.2s;
}

.fa
{
-webkit-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
-moz-transition:0.2s;
transition:0.2s;
} 

#backward .fa, #forward .fa{margin:19px 0px 0px 22px;}
#backward .fa{margin:19px 0px 0px 16px;}

.inlineblo{display:inline-block;}

.fa{color:#666666;font-size:1.5em;}

h1, h2
{
text-align: center;
font-weight: normal;
color: #555;
padding:5px 15px 5px 15px;
font-size: 16px;
text-transform: uppercase;
}
h2{color:#999999;font-size: 16px;padding:0px 15px 5px 15px;}

.class-list{padding:0px 0px 15px 0px;counter-reset: section;visibility: hidden;}

.class-list-item
{
list-style-type:none;
padding:15px 25px 15px 15px;
border-bottom:1px solid #cccccc;
border-top:1px solid #ffffff;
font-size:16px;
color:#555;
text-shadow:0px 2px 0px #ffffff;
cursor:pointer;
-webkit-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
-moz-transition:0.2s;
transition:0.2s;
text-transform: uppercase;
}

.class-list-item
:hover
{
background:#efefef;
-webkit-transition:0.2s;
-o-transition:0.2s;
-ms-transition:0.2s;
-moz-transition:0.2s;
transition:0.2s;
}

.class-list-item:first-child{border-top:none;}
.class-list-item:last-child{border-bottom:none;}

.time
{
float:right;
color:#999999;
}

/*.active
{
background:#efefef;
}

a
{
text-decoration:none;
color:#000;
display:block;
text-align:right;
background:#e3e2e2;
padding:5px;
}

.textalign
{
text-align:left!important;
}
.stop_button {
    position: relative;
    top: 13px;
    left: 30%;
    width: 10px;
    height: 10px;
    border: solid 3px;
    background-color: black;
}*/
/* Progress bar css */
/*progress[value] {
margin-right: 25px;
margin-left: 25px;
width: 350px;
height:16px;
-webkit-appearance: none;
appearance: none;
border: 0px solid #000; 
margin-bottom:1px; 
/*}*/

/*progress[value]::-webkit-progress-bar {
background-color: #eee;
border-radius: 0px;
}

progress[value]::-webkit-progress-value {
background:#0E91D3;
}*/

/* CSS3 Counter */


/*.play_border {
    margin:5px;
    border: 2px solid rgba(0,0,0,0.7);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    margin: 0 auto;
}
.play_border:hover{
    border-color: transparent;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.play_border:hover .play_button{
    border-left: 10px solid rgba(0,0,0,0.5);
}
.play_border:active,.play_border:focus{
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5.play_button:hoverpx 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.play_button {
    position:relative;
    top: 10px;
    left: 40%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0,0,0,0.8);
} */

